<footer class="footer">
  <ul class="footer-list list">
    <li class="footer-list_item">&#169 2020</li>
    <li class="footer-list_item">All Rights Reserved</li>
    <li class="footer-list_item">
      <a href="#" class="footer-list__link link">
        Developed with
        <svg class="heart__icon">
          <use
            lang="en"
            aria-label="heart icon"
            href="../src/images/svg/sprite.svg#heart"
          ></use>
        </svg>
        by GoIT Students</a
      >
    </li>
  </ul>
</footer>
